body{
    background-color: beige;
display: flex;
flex-direction: column;
}
main{
display: flex;
flex-direction: row;
flex:auto;
}
article{
    flex: 2;
overflow-y: auto;
}
aside{
    background-color: aqua;
flex: 1;
overflow-y: auto;
}
